<footer class="menu">
  <nav class="links">
    <ul class="links__articles">
      <li>articles</li>
      <li>books</li>
      <li>events</li>
      <li>reason</li>
      <li>tips</li>
    </ul>
  </nav>
  <nav class="links">
    <ul class="links__social">
      <li>twitter</li>
      <li>instagram</li>
      <li>mastodon.social</li>
    </ul>
  </nav>
  <article class="copy-comp">
    <p>&copy; 2021</p>
    <p>we <span class="heart">&hearts;</span> components</p>
  </article>
  <div class="arrow-content">
    <a href="#start"
      ><img
        src="./assets/images/ico-arrow.svg"
        alt="Icon arrows"
        class="arrow-content__icon"
    /></a>
</footer>
