<footer class="menu">
  <nav class="links">
    <ul class="links__articles">
      <li class="links__articles--go">
        <a href="https://adalab.es/">articles</a>
      </li>
      <li class="links__articles--go">
        <a href="https://adalab.es/">books</a>
      </li>
      <li class="links__articles--go">
        <a href="https://adalab.es/">events</a>
      </li>

      <li class="links__articles--go">
        <a href="https://adalab.es/">reason</a>
      </li>

      <li class="links__articles--go"><a href="https://adalab.es/">tips</a></li>
    </ul>
  </nav>
  <nav class="links">
    <ul class="links__social">
      <a href="https://adalab.es/"
        ><li class="links__social--go">twitter</li></a
      >
      <a href="https://adalab.es/"
        ><li class="links__social--go">instagram</li></a
      >
      <a href="https://adalab.es/"
        ><li class="links__social--go">mastodon.social</li></a
      >
    </ul>
  </nav>
  <article class="copy-comp">
    <p>&copy; 2021</p>
    <p>we <span class="heart">&hearts;</span> components</p>
  </article>
</footer>
