<header class="hero">
  <div class="hero__menu-icon">
    <a href="https://adalab.es/">
      <img
        src="./assets/images/ico-menu.svg"
        alt="Icon menu"
        class="hero__menu-icon--burguer"
      />
    </a>
  </div>
  <article class="text">
    <h1 class="text__title">anonymous proxy</h1>
    <p class="text__parag">In hac habitasse platea dictumst.</p>
  </article>

  <div class="hero__icon">
    <a href="#three-reasons"
      ><img
        src="./assets/images/ico-scroll-down.svg"
        alt="Icon scroll"
        class="hero__icon--down"
    /></a>
  </div>
</header>
