<section class="herodos">
  <article class="anonymous">
    <h1 class="anonymous__text--title">anonymous proxy</h1>
    <p class="anonymous__text--parag">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur
      ullam corporis, adipisci reiciendis vero culpa voluptates consequatur
      illo, recusandae dolore, incidunt rerum saepe labore? Repellat in minus
      ratione incidunt excepturi.
    </p>
    <a href="https://adalab.es/" class="anonymous__text--link">
      <p>25/11/2021</p>
    </a>
  </article>
</section>
