<section class="reasons" id="three-reasons">
  <h2>3 reasons to purchase</h2>

  <article class="reasons__one">
    <h3>Ut sed metus</h3>
    <p>Lorem ipsum dolor sit amet, consecteur.</p>
  </article>
  <article class="reasons__two">
    <h3>Curabitur ac erat</h3>
    <p>Mauris mattis urna quis lorem molestie.</p>
  </article>
  <article class="reasons__three">
    <h3>Ut sed metus</h3>
    <p>Aliquam in dolor et dolor tincidunt.</p>
  </article>
  <button>More reasons</button>
</section>
