<section class="reasons" id="three-reasons">
  <h2 class="reasons__title">3 reasons to purchase</h2>

  <section class="article">
    <article class="article__content">
      <h3 class="article__content--title">Ut sed metus</h3>
      <p class="article__content--text">
        Lorem ipsum dolor sit amet, consecteur.
      </p>
    </article>
    <article class="article__content">
      <h3 class="article__content--title">Curabitur ac erat</h3>
      <p class="article__content--text">
        Mauris mattis urna quis lorem molestie.
      </p>
    </article>
    <article class="article__content">
      <h3 class="article__content--title">Ut sed metus</h3>
      <p class="article__content--text">Aliquam in dolor et dolor tincidunt.</p>
    </article>
  </section>
  <button class="reasons-button">More reasons</button>
</section>
